.categories-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-size: 28px;
    text-align: center;
}

.networth {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.networth-top {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;

    p {
        margin: 0;
        padding: 0;
    }

    .networth-title {
        font-size: 24px;
        font-weight: bold;
        color: grey;
    }

    .balance {
        font-size: 46px;
        font-weight: normal;
        color: black;
    }
    
    .balance-wallet {
        color: grey;
    }
}

.date-picker {
    background-color: white;
    margin: 1vh 11px;
    border: 3px solid black;
    border-radius: 15px;
    width: 250px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    cursor: pointer;

    .date-picker-img {
        height: 80%;
    }
    
    .date-picker-text {
        margin-left: 5px;
    }
}

.wallet-picker {
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 220px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    .wallet-picker-img {
        height: 80%;
    }
    
    .wallet-picker-text {
        margin-left: 5px;
    }
}


.categories {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-right: 6vh;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    height: 233px;
    min-width: 100px;
    min-height: 125px;
    border: 3px solid black;
    border-radius: 10%;
    margin: 11px;
}

.add-card {
    padding: 50px 0 50px 0;
}

.card-title {
    margin: 5px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

.card-img-container {
    width: 100px;
    height: 100px;
}

.img-back {
    width: 100%;
    height: 100%;
    border-radius: 30%;
}

.card-img {
    width: 100%;
    height: 100%;
    padding: 20%;
}

.card-networth {
    font-size: 20px;
}

.networth-title {
    font-weight: bold;
}

.card-button {
    display: flex;
    flex-direction: column;
    width: 145px;
    height: 35px;
    margin-bottom: 5%;
    border: 3px solid black;
    border-radius: 15px;
    justify-content: center;
    cursor: pointer;
}

.button-text{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

.networth-chart {
    height: 60%;
    width: 100%;
}

.temp-container {
    height: 300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}