<div class="categories-container">
  
  <div class="networth">
    <div class="networth-top">
      skibidi
    </div>
    <div 
    class="networth-chart"
    (click)="changeCategory()"
    >
      <app-networthChart [CategoriesUI]="CategoriesUI" [State]="state"></app-networthChart>
    </div>
  </div>

  <div class="categories">
      <button class="date-picker">
        <img class="" src="" alt="">
        <span class="date-picker-text">Месяц</span>
      </button>
      
    <div class="cards-container">
      <div *ngFor="let categories of CategoriesUI">
        <div class="card-container" *ngIf="categories.Category == category">
          <p class="card-title">{{ categories.CardName }}</p>
          <div class="card-img-container">
            <div class="img-back" [ngStyle]="{'background-color': getColor(categories.CardColor, 'background')}">
              <img class="card-img" [src]="getCardImg(categories.CardLogo)" alt="">
            </div>
          </div>
          <div class="card-networth">
            <span class="networth-title" [ngStyle]="{'color': getColor(categories.CardColor, 'foreground')}"> {{ categories.networth }} {{ walletType }}</span>
          </div>
          <div class="card-button">
            <p class="button-text">Добавить</p>
          </div>
        </div>
      </div>

      <div *ngIf="CategoriesUI.length < 15" class="add-card card-container">
        <div>
          <p class="card-title">Новая категория</p>
        </div>
        <div class="card-button">
          <p class="button-text">Добавить</p>
        </div>
      </div>

    </div>
  </div>
</div>