<div class="categories-container">
  <div class="networth">
    тут типо будет круговая диограмма такая бррр *bassdrop*
  </div>
  <div class="categories">
      <button class="date-picker">
        <img class="" src="" alt="">
        <span class="date-picker-text">Месяц</span>
      </button>
    <div class="cards-container">

      <div *ngFor="let categories of CategoriesUI" class="card-container">
        <p class="card-title">{{ categories.CardName }}</p>
        <div class="card-img-container">
          <div class="img-back" [ngStyle]="{'background-color': getColor(categories.CardColor, 'background')}">
            <img [src]="getCardImg(categories.CardLogo)" alt="">
          </div>
        </div>
        <div class="card-networth">
          <span class="networth-title" [ngStyle]="{'color': getColor(categories.CardColor, 'foreground')}"> {{ categories.networth }} {{ walletType }}</span>
        </div>
        <div class="card-button">
          <p class="button-text">Добавить</p>
        </div>
      </div>

    </div>
  </div>
</div>