<div class="categories-container">
  <div class="networth">
    тут типо будет круговая диограмма такая бррр *bassdrop*
  </div>
  <div class="categories">
      <button class="date-picker">
        <img class="" src="" alt="">
        <span class="date-picker-text">Месяц</span>
      </button>
    <div class="cards-container">

      <div *ngFor="let card of this.Cards" class="card-container">
        <p class="card-title">{{ card.CardName }}</p>
        <div class="card-img-container">

        </div>
        <div class="card-networth">
          <span class="networth-title">{{ card.CardWorth }}</span> {{ walletType }}
        </div>
        <div class="card-button">
          <p class="button-text">Добавить</p>
        </div>
      </div>

    </div>
  </div>
</div>