<div *ngIf="isVisible" class="container">
  <div 
  class="container-content"
  [ngClass]="{
    'newRecord': template == 'newRecord',
    'newCategory': template == 'newCategory'}">
    <div class="header">
      <p class="header-name">
        {{ name }}
      </p>
      <div class="header-close"
      (click)="closePopup()"
      >
        <img src="../../../../../assets/btnIcons/xmark.svg" alt="" class="close-png">
      </div>
    </div>
    <main>
      <ng-container *ngIf="template == 'newRecord'">
        <ng-container *ngTemplateOutlet="newRecord"></ng-container>
      </ng-container>
      <ng-container *ngIf="template == 'newCategory'">
        <ng-container *ngTemplateOutlet="newCategory"></ng-container>
      </ng-container>
    </main>
  </div>
</div>